.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 0px 150px /* plasmic-token: a3Z-SSWFL */ 150px;
}
.box__sAtfW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 110px 0px;
  border-top: 2px solid rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  border-bottom: 2px solid rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__wuDQt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__wuDQt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.box__wuDQt > :global(.__wab_flex-container) > *,
.box__wuDQt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 40px;
}
.box__mPy1T {
  font-family: Inter;
  font-size: 64px;
  font-weight: 800;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 80px /* plasmic-token: 9_klCoQAd */;
  height: 80px /* plasmic-token: 9_klCoQAd */;
  flex-shrink: 0;
}
.box___0B3Ha {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 80px;
}
.box___0B3Ha > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 110px);
  width: calc(100% + 110px);
}
.box___0B3Ha > :global(.__wab_flex-container) > *,
.box___0B3Ha > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 110px;
}
.box__oRulC {
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  line-height: 1.9;
  position: relative;
  height: auto;
  font-style: italic;
  text-align: justify;
}
.box__aqZG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  min-height: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 600px;
}
.box__tooEt {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  line-height: 1.9;
  position: relative;
  font-style: italic;
  margin-top: 0px;
}
