.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 130px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__yiF2T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 1124px;
  height: 285px;
  align-self: flex-start;
  margin-bottom: 3px;
  margin-top: calc(0px + 16px) !important;
  margin-right: 3px;
  margin-left: 3px;
  flex-shrink: 0;
}
.slotTitle {
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTitle {
    font-size: 48px;
  }
}
.box__u0WJe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1472px;
  padding-right: 300px;
  margin-top: calc(100px + 16px) !important;
}
.img__nf5L {
  position: relative;
  object-fit: cover;
  width: 465px;
  height: 589px;
  flex-shrink: 0;
}
.ul {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  align-self: flex-start;
  height: 335px;
  margin-top: 40px;
}
.li__k4On {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
}
.box__b2Aog {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box___3CAd {
  font-size: 24px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link {
  font-size: 24px;
  font-weight: 700;
  color: rgb(233, 184, 184) /* plasmic-token: JflXDgT4b */;
  text-decoration-line: underline;
}
.root:hover .link {
  color: rgba(233, 184, 184, 0.66);
  cursor: pointer;
}
.svg {
  position: absolute;
  object-fit: cover;
  width: 31px;
  height: 31px;
  left: auto;
  top: auto;
  right: -35px;
  flex-shrink: 0;
}
.li__kFtN {
  position: relative;
  height: auto;
  font-size: 24px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.li__k3Gma {
  position: relative;
  height: auto;
  font-size: 24px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.li__e2AqG {
  position: relative;
  height: auto;
  font-size: 24px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.img__bz5Zg {
  position: absolute;
  object-fit: cover;
  width: 80px;
  height: auto;
  left: auto;
  top: auto;
  right: 180px;
  bottom: 100px;
}
