.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 150px;
}
.box__a3I2G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 130px;
  height: 344px;
  flex-shrink: 0;
}
.box__lPiWy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__lPiWy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.box__lPiWy > :global(.__wab_flex-container) > *,
.box__lPiWy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 40px;
}
.box__azCCw {
  font-family: Inter;
  font-size: 64px;
  font-weight: 800;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  height: auto;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 80px /* plasmic-token: 9_klCoQAd */;
  height: 80px /* plasmic-token: 9_klCoQAd */;
  flex-shrink: 0;
}
.box__dawh {
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  line-height: 1.9;
  position: relative;
}
.box__b92Af {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-top: 162px;
  min-width: 0;
}
.box__b92Af > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.box__b92Af > :global(.__wab_flex-container) > *,
.box__b92Af > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 40px;
}
.img__bFt7D {
  position: relative;
  object-fit: cover;
  width: 25%;
  height: auto;
}
.img__suOwy {
  position: relative;
  object-fit: cover;
  width: 25%;
  height: auto;
}
.img__fIpM {
  position: relative;
  object-fit: cover;
  width: 25%;
  height: auto;
}
.img__hyhSu {
  position: relative;
  object-fit: cover;
  width: 25%;
  height: auto;
}
.box___1Ws8P {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 150px;
  min-width: 0;
}
.box___1Ws8P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.box___1Ws8P > :global(.__wab_flex-container) > *,
.box___1Ws8P > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 40px;
}
.img__mhk4L {
  position: relative;
  object-fit: cover;
  width: 25%;
  height: auto;
}
.img__tCJcD {
  position: relative;
  object-fit: cover;
  width: 25%;
  height: auto;
}
.img__mnbYo {
  position: relative;
  object-fit: cover;
  width: 25%;
  height: auto;
}
