.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 150px /* plasmic-token: a3Z-SSWFL */;
}
.box__sXlOl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__b29Oc {
  font-family: Inter;
  font-size: 50px;
  font-weight: 900;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  height: auto;
}
.box__k7Uv3 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  line-height: 1.9;
  position: relative;
  height: auto;
}
.box__v3Vd1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.img {
  position: relative;
  object-fit: cover;
}
.box__ltAdW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__vSq3R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__aBoo7 {
  position: relative;
}
.box__yo5Ds {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.linkButton__ohG7N:global(.__wab_instance) {
  position: relative;
}
.box__kjcAe {
  height: auto;
}
.linkButton__wg85O:global(.__wab_instance) {
  position: relative;
}
.box__pZi {
  height: auto;
}
