.root {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top: 150px /* plasmic-token: a3Z-SSWFL */;
  padding-right: 150px /* plasmic-token: a3Z-SSWFL */;
  padding-left: 150px /* plasmic-token: a3Z-SSWFL */;
  position: relative;
  min-width: 0;
}
.box__b6TIp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 0px;
  height: auto;
  left: auto;
  top: auto;
}
.box__e0FUx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__e0FUx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.box__e0FUx > :global(.__wab_flex-container) > *,
.box__e0FUx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 50px;
}
.box__a1Y3J {
  font-family: Inter;
  font-size: 64px;
  font-weight: 800;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  height: auto;
}
.svg__k0C80 {
  position: relative;
  object-fit: cover;
  width: 80px /* plasmic-token: 9_klCoQAd */;
  height: 80px /* plasmic-token: 9_klCoQAd */;
  flex-shrink: 0;
}
.box__cbrMv {
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  line-height: 1.9;
  position: relative;
  margin-top: 50px;
}
.box___9ZA3E {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-top: 60px;
  min-width: 0;
}
.box___9ZA3E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.box___9ZA3E > :global(.__wab_flex-container) > *,
.box___9ZA3E > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 30px;
}
.jobsItem__fC6UL:global(.__wab_instance) {
  position: relative;
}
.svg__anMDq {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__qeTjW {
  text-align: center;
}
.box__xFkc {
  text-align: center;
}
.svg__uxptY {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.jobsItem__rsOni:global(.__wab_instance) {
  position: relative;
}
.svg__vseg3 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__jqlB {
  text-align: center;
}
.box__mAAa {
  text-align: center;
  height: auto;
}
.svg__qSz61 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.jobsItem__ymgx2:global(.__wab_instance) {
  position: relative;
}
.svg__mXbxv {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__lV892 {
  text-align: center;
}
.box__mDu3J {
  text-align: center;
}
.svg__gSxjD {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.jobsItem___1L0F:global(.__wab_instance) {
  position: relative;
}
.svg__rCwg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__f0ZMo {
  text-align: center;
}
.box__g5UUp {
  text-align: center;
}
.svg___5JlOd {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.jobsItem___6AkGo:global(.__wab_instance) {
  position: relative;
}
.svg__g4OTe {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__t0VjC {
  text-align: center;
}
.box__on1C {
  text-align: center;
}
.svg__r4S5Y {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.jobsItem__q5QPa:global(.__wab_instance) {
  position: relative;
}
.svg__tVmQh {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__y9T3Y {
  text-align: center;
}
.box__jPgn2 {
  text-align: center;
}
.svg__vcGms {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__i0IXi {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 150px /* plasmic-token: a3Z-SSWFL */;
  margin-bottom: 150px /* plasmic-token: a3Z-SSWFL */;
  height: auto;
  padding: 100px 50px;
  border: 15px solid rgb(233, 184, 184) /* plasmic-token: JflXDgT4b */;
}
.box__i0IXi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.box__i0IXi > :global(.__wab_flex-container) > *,
.box__i0IXi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 50px;
}
.box__x3Jd {
  font-family: Inter;
  font-size: 38px;
  font-weight: 500;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  line-height: 1.9;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 0;
}
.prices {
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
  border-radius: 75px;
  background: rgb(233, 184, 184);
}
.box___5PsXh {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255) /* plasmic-token: zUBnHHqvWC_cd */;
}
.svg__qmktb {
  position: absolute;
  object-fit: cover;
  width: 80px /* plasmic-token: 9_klCoQAd */;
  height: 80px /* plasmic-token: 9_klCoQAd */;
  left: 0;
  top: -50px;
  flex-shrink: 0;
}
