.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 150px /* plasmic-token: a3Z-SSWFL */;
  background: url("./images/pinkBsckgroundpng.png") 0% 0% / cover;
}
.box__mgGeE {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 50px;
  align-self: auto;
}
.box__mgGeE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.box__mgGeE > :global(.__wab_flex-container) > *,
.box__mgGeE > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 50px;
}
.box__nB8L {
  font-family: Inter;
  font-size: 64px;
  font-weight: 800;
  color: rgb(255, 255, 255) /* plasmic-token: zUBnHHqvWC_cd */;
  height: auto;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 80px /* plasmic-token: 9_klCoQAd */;
  height: 80px /* plasmic-token: 9_klCoQAd */;
  color: rgb(255, 255, 255) /* plasmic-token: zUBnHHqvWC_cd */;
  flex-shrink: 0;
}
.box__leCyB {
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  color: rgb(255, 255, 255) /* plasmic-token: zUBnHHqvWC_cd */;
  line-height: 1.9;
  position: relative;
  height: auto;
  margin-bottom: 100px;
  text-align: center;
}
.linkButton__brHYs:global(.__wab_instance) {
  position: relative;
  max-width: 300px;
  align-self: auto;
  margin-bottom: 60px;
}
.box__rjH0L {
  height: auto;
  width: auto;
  white-space: pre;
  text-align: center;
  display: inline-block;
}
.linkButton__qkjdk:global(.__wab_instance) {
  position: relative;
}
.box__wBjPs {
  height: auto;
}
