.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 449px;
  min-width: 0;
  flex-shrink: 0;
}
